body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/pexels-quang-nguyen-vinh-2171728.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 40em;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#botones{
  margin-top: 10em;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

#contacto{
  background-color: rgb(211, 248, 248);
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
